//
// Colors
// --------------------------------------------------

// Black & White
$color-black: #000;
$color-white: #fff;

// Shades of gray
$color-gray-6: #6e7074;

// Brand colors
$color-brown-default: #6e5e50;
$color-brown-lightest: #f6f4f3;
$color-brown-lighter: #edeae7;

// Content color mapping
$color-content: $color-gray-6;
$color-content-ci: $color-brown-default;
