//
// Colors
// --------------------------------------------------

// Black & White
$color-black: #000;
$color-white: #fff;

// Shades of gray
$color-gray-6: #84868a;

// Brand colors
$color-brown-default: #847465;
$color-brown-lightest: #f8f7f6; // 6% CI color on white background
$color-brown-lighter: #edeae7;

// Content color mapping
$color-content: $color-brown-default;
$color-content-ci: $color-brown-default;
