//
// Typography settings
// --------------------------------------------------

// Font Weights
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// Font Families
$font-family-base-fallback: 'Trebuchet MS', sans-serif;
$font-family-base: 'ff-meta-web-pro', 'Trebuchet MS', sans-serif;
$font-family-ci-fallback: 'Georgia', serif;
$font-family-ci: 'pt-serif', 'Georgia', serif;

// Tell Typi to use mappy-breakpoints
$typi-breakpoint: mappy-bp;

// Font Sizing
/* stylelint-disable value-list-max-empty-lines */
$typi: (
  // Base for <html>, will be inherited
  base: (
    null: (16px, 1.6)
  ),

  richtext: (
    null: (16px, 1.6),
    md: (20px)
  ),

  sm: (
    null: (13px, 1.6),
    md: (16px)
  ),

  headline--default: (
    null: (29px, 1.2),
    md: (36px),
  ),

  headline--sm: (
    null: (24px, 1.2),
    md: (30px),
  ),

  menu: (
    null: (26px, 1.2),
    md: (22px)
  ),

  button: (
    null: (18px, 1.2),
  ),
);
/* stylelint-enable */
