<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    {{/* Meta tags */}}
    {{ partial "global/meta.html" . }}

    {{/* <head> includes */}}
    {{ partial "global/includes-head.html" . }}
  </head>

  <body>
    <a href="#main" class="u-invisible">Jump to content</a>
    <a href="#menu" class="u-invisible">Jump to menu</a>

    <div class="pagelayout" id="start">
      {{/* Top */}}
      {{ partial "components/top.html" . }}

      {{/* Content */}}
      <main class="o-main" id="main">
        {{ block "main" . }}{{ end }}
      </main>

      {{/* Footer */}}
      {{ partial "components/footer.html" . }}
    </div>

    {{/* <body> includes */}}
    {{ partial "global/includes-body.html" . }}
  </body>
</html>
