{{ define "main" }}
  {{ partial "components/hero" . }}

  <div class="o-main__content">
    {{/* Top & teaser section */}}
      <section class="o-main__section o-main__section--top">
        {{/* scroll hint */}}
        <div class="o-main__scroll-hint">
          <div class="o-container">
            <div class="c-scroll-hint">
              {{ partial "components/svg" (dict "svg" "pfeil") }}
            </div>
          </div>
        </div>

        <div class="o-container">
          {{ partial "components/teasers.html" . }}
        </div>
      </section>
  </div>
{{ end }}
