{{ define "main" }}
  {{ partial "components/hero" (dict "context" . "outer" $) }}

  <div class="o-main__content" id="content">
    {{/* Top & teaser section */}}
    <section class="o-main__section o-main__section--top o-main__section--dark-flowers-left">
      {{/* scroll hint */}}
      {{ partial "components/scrollhint.html" . }}

      <div class="o-container">
        {{ partial "components/teasers.html" . }}
      </div>
    </section>

    {{/* Linkbox deck */}}
    <section class="o-main__section o-main__section--bg-lightest">
      <div class="o-container">
        {{ partial "components/linkboxes.html" . }}
      </div>
    </section>

    {{/* Archive */}}
    <section class="o-main__section o-main__section--bg-ci o-main__section--white-opaque-flowers-right">
      <div class="o-container">
        {{ partial "sections/food/archive.html" . }}
      </div>
    </section>

    {{/* Sources */}}
    <section class="o-main__section o-main__section--no-pad">
      {{ partial "sections/food/sources.html" . }}
    </section>
  </div>
{{ end }}
