{{ define "main" }}
  {{ partial "components/hero" . }}

  <div class="o-main__content">
    {{/* Top & teaser section */}}
    <section class="o-main__section o-main__section--top o-main__section--dark-flowers-left">
      {{/* scroll hint */}}
      <div class="o-main__scroll-hint">
        <div class="o-container">
          <div class="c-scroll-hint c-scroll-hint--align-left">
            {{ partial "components/svg" (dict "svg" "pfeil") }}
          </div>
        </div>
      </div>

      <div class="o-container">
        {{ partial "components/teasers.html" . }}
      </div>
    </section>

    {{/* Linkbox deck */}}
    <section class="o-main__section o-main__section--bg-lightest">
      <div class="o-container">
        {{ partial "components/linkboxes.html" . }}
      </div>
    </section>

    {{/* Sources */}}
    <section class="o-main__section o-main__section--no-pad">
      {{ partial "sections/food/sources.html" . }}
    </section>
  </div>
{{ end }}
