{{ define "main" }}
  {{ partial "components/hero" (dict "context" . "outer" $) }}

  <div class="o-main__content" id="content">
    {{/* Top & teaser section */}}
    <section class="o-main__section o-main__section--top o-main__section--dark-flowers-left">
      {{/* scroll hint */}}
      {{ partial "components/scrollhint.html" . }}

      <div class="o-container">
        {{ partial "components/teasers.html" . }}
      </div>
    </section>

    <section class="o-main__section">
      {{ partial "sections/sleep/linkboxes.html" . }}
    </section>
  </div>
{{ end }}
