//
// Scaffolding
// --------------------------------------------------

// sets base font-sizing on html element
@include typi-init;

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: red;;
  color: $color-content;
  @include font-smoothing; // applied globally, since even the dark-on-white font looks ugly here.

  // fallback font for initial render to avoid FOIT
  font-family: $font-family-base-fallback;

  // fonts-loaded flag, triggered by JS (typekit)
  .wf-active & {
    font-family: $font-family-base;
  }
}

::selection {
  background: $color-content-ci;
  color: $color-white;
}

// Ensure elements load hidden before ScrollReveal runs
html.sr [data-reveal] {
  visibility: hidden;
}
