{
  "presets": [
    ["env", {
      "useBuiltIns": "usage",
      "targets": {
        "browsers": [
          "ie >= 11",
          "ie_mob >= 11",
          "ff >= 30",
          "chrome >= 34",
          "safari >= 7",
          "opera >= 23",
          "ios >= 7",
          "android >= 4.4",
          "bb >= 10"
        ]
      }
    }]
  ],
  "plugins": [
    "syntax-object-rest-spread",
    "transform-object-rest-spread"
  ],
  "sourceMaps": true
}
