{{ with .Resources.GetMatch "big-teaser*.md" }}
  {{$title := .Params.title}}
  <div class="c-big-teaser">
    {{/* Image */}}
    <div class="c-big-teaser__img-wrapper">
      {{ with $.Resources.GetMatch "big-teaser.jpg" }}
        {{ $imageSmall := .Resize "500x" }}
        {{ $imageMedium := .Resize "1000x" }}
        {{ $imageBig := .Resize "2000x" }}

        <img
          alt="{{$title}}"
          src="{{ $imageSmall.RelPermalink }}"
          srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-srcset="{{ $imageSmall.RelPermalink }} 500w, {{ $imageMedium.RelPermalink }} 1000w, {{ $imageBig.RelPermalink }} 2000w"
          data-sizes="auto"
          class="c-big-teaser__img lazyload" />
      {{ end }}
    </div>

    {{/* Text */}}
    <div class="c-big-teaser__content-wrapper" data-reveal>
      <div class="o-container c-big-teaser__container">
        <div class="o-grid">
          <div class="o-grid__col">
            <div class="c-big-teaser__content">
              <div class="c-big-teaser__separator">
                {{ partial "components/separator" (dict "inverted" 1) }}
              </div>

              {{.Content}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
