<div class='c-menu' id="menu" data-menu>
  {{/* Menu toggler */}}
  <a href="#main" class="c-menu__toggler" data-menu-toggler>
    {{ partial "components/svg" (dict "svg" "menu") }}
    {{ partial "components/svg" (dict "svg" "close") }}
    <span class="u-invisible">Menü öffnen/schließen</span>
  </a>

  <nav class="c-menu__inner c-menu__container o-container">
    {{/* Main menu */}}
    <ul class="c-menu__main">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li>
          {{ partial "components/svg" (dict "svg" "trenner") }}

          <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
              href="{{ .URL }}">
            {{ .Title }}
          </a>
        </li>
      {{ end }}
    </ul>


    {{/* Meta menu */}}
    <div class="c-menu__meta">
      <div class="c-menu__separator">
        <hr />
        {{ partial "components/separator" }}
      </div>
      {{ partial "components/meta-menu" (dict "context" . "mode" "vertical") }}
    </div>
  </nav>
</div>
