<ul class="c-meta-menu{{- with .mode }} c-meta-menu--{{.}}{{ end }}">
  <li class="c-meta-menu__item">
    <a class="c-meta-menu__link" href="tel:+497655677">+49(0)7655 677</a>
  </li>
  <li class="c-meta-menu__item">
    <a class="c-meta-menu__link" href="mailto:info@hotel-peterle.de">info@hotel-peterle.de</a>
  </li>
  {{/*
  <li class="c-meta-menu__item">
    {{ if eq .context.Site.Language.Lang "de" }}
      <a class="c-meta-menu__link" href="/en">english</a>
    {{ else }}
      <a class="c-meta-menu__link" href="/">deutsch</a>
    {{ end }}
  </li>
  */}}
</ul>
