{{ with .Resources.GetMatch "rooms*.md" }}
  {{ $includedServicesCTA := .Params.includedServicesCTA }}
  {{ $bookingCTA := .Params.bookingCTA }}
  <div class="c-rooms">
    <div class="c-rooms__grid o-grid">
      {{/* First cell: intro */}}
      <div class="o-grid__col" data-reveal>
        <div class="c-richtext{{ with .Params.richtextSize }} c-richtext--{{.}}{{end}}">
          {{ .Content }}
        </div>
      </div>

      {{/* Other cells: Galleries */}}
      {{ range .Params.rooms }}
        <div class="o-grid__col" data-reveal>
          <div class="c-room">
            {{/* Gallery */}}
            <div class="c-room__gallery">
              {{ partial "components/gallery" (dict "context" $ "title" .title "images" .images) }}
            </div>

            {{/* Content */}}
            <div class="c-room__content">
              {{/* Headline */}}
              <div class="c-richtext">
                <h3 class="c-headline c-headline--xs c-headline--italic">{{ .title }}</h3>
              </div>

              <div class="c-room__cols">
                <div class="c-room__info-col">
                  {{/* Text */}}
                  <div class="c-room__info">
                    <div class="c-richtext">
                      {{.text | markdownify}}
                    </div>
                  </div>

                  <a class="c-room__info-label" href="#features" data-scroll-content>
                    {{ partial "components/svg" (dict "svg" "trenner") }}
                    {{ $includedServicesCTA }}
                  </a>
                </div>

                <div class="c-room__cta-col">
                  <a href="javascript:void(0);" class="c-button c-button--xs-xs d21-trigger-ibe" data-d21="{'room_id':{{.id}}}">
                    {{ $bookingCTA }}
                    {{ partial "components/svg" (dict "svg" "pfeil") }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
