{{ with .Resources.GetMatch "teasers*.md" }}
  <div class="c-teasers">
    <div class="c-teasers__grid o-grid">
      {{/* First cell: intro */}}
      <div class="o-grid__col" data-reveal>
        <div class="c-richtext{{ with .Params.richtextSize }} c-richtext--{{.}}{{end}}">
          {{ .Content }}
        </div>
      </div>

      {{/* Other cells: Teasers */}}
      {{ range .Params.teasers }}
        {{ $title := .title }}

        <div class="o-grid__col" data-reveal>
          {{if .url}}
          <a href="{{ .url }}" class="c-teaser c-teaser--hover">
          {{else}}
          <div class="c-teaser">
          {{end}}
            {{/* Image */}}
            <div class="c-teaser__img-wrapper">
              {{ with $.Resources.GetMatch .image }}
                {{ $imageSmall := .Resize "500x" }}
                {{ $imageMedium := .Resize "800x" }}

                <img
                  alt="{{ $title }}"
                  src="{{ $imageSmall.RelPermalink }}"
                  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  data-srcset="{{ $imageSmall.RelPermalink }} 500w, {{ $imageMedium.RelPermalink }} 800w"
                  data-sizes="auto"
                  class="c-teaser__img lazyload" />
              {{ end }}
            </div>

            {{/* Button */}}
            {{if .url}}
              <div class="c-teaser__button">
                <span class="c-button">
                  {{ $title }}
                  {{ partial "components/svg" (dict "svg" "pfeil") }}
                </span>
              </div>
            {{end}}
          {{if .url}}
          </a>
          {{else}}
          </div>
          {{end}}
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
