//
// Button
// --------------------------------------------------

.c-button {
  @include button-reset;

  @include typi('button');
  background-color: $color-content-ci;
  color: $color-white;
  padding: rem(24px);
  transition: background-color $transition-time-default;

  display: inline-flex;
  align-items: center;

  svg {
    flex-shrink: 0;
    margin-left: rem(24px);
    width: rem(32px);
    height: rem(8px);
  }
}
