//
// Typography components
// --------------------------------------------------

// Headlines
.c-headline {
  &:not(.c-headline--richtext) {
    @include font-ci;
  }

  font-weight: $font-weight-regular;
  @include typi('headline--default');
  display: block;

  span.br {
    display: block;
  }

  span.br-md {
    @include mappy-bp(md) {
      display: block;
    }
  }
}

.c-headline--sm {
  @include typi('headline--sm');
}

.c-headline--xs {
  @include typi('headline--xs');
}

.c-headline--richtext {
  @include typi('richtext');
}

.c-headline--italic {
  font-style: italic;
}

.c-headline--with-spacing {
  margin-bottom: rem(40px);

  @include mappy-bp(md) {
    margin-bottom: rem(70px);
  }
}
