//
// Typography components
// --------------------------------------------------

// Headlines
.c-headline {
  @include font-ci;
  font-weight: $font-weight-regular;
  @include typi('headline--default');
  display: block;

  span.br {
    display: block;
  }

  span.br-md {
    @include mappy-bp(md) {
      display: block;
    }
  }
}

.c-headline--sm {
  @include typi('headline--sm');
}
