//
// History
// --------------------------------------------------

// Image
.c-history__img-wrapper {
  background-color: $color-content-ci;
}

.c-history__img {
  display: block;
  width: 100%;
  height: auto;
  transition: all $transition-time-long;

  &.lazyload,
  &.lazyloading {
    opacity: 0;
  }
}

// Cols
.c-history__masonry-col {
  @include mappy-bp(max $bp-grid-collapse) {
    margin: 0;
    padding: 0 !important;
  }
}

// Event
.c-history__event {
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }

  &:not(:last-of-type) {
    margin-bottom: rem(40px);

    @include mappy-bp(md) {
      margin-bottom: rem(80px);
    }
  }
}

.c-history__date {
  @include font-ci;
  @include typi(lg);
  color: $color-content-ci;
}

.c-history__separator {
  margin-top: rem(10px);
  margin-bottom: rem(10px);

  @include mappy-bp(md) {
    margin-top: rem(16px);
    margin-bottom: rem(16px);
  }
}
