//
// Richtext
// --------------------------------------------------

.c-richtext {
  @include typi(richtext);
  color: $color-gray-6;

  img {
    max-width: 100%;
    height: auto;
    display: block;

    &:not(:first-child) {
      margin-bottom: 4em;
    }

    &:not(:last-child) {
      margin-top: 4em;
    }
  }

  strong {
    color: $color-content-ci;
    font-weight: $font-weight-bold;
  }

  p {
    margin-bottom: 0;
  }

  p,
  table,
  .c-headline {
    &:not(:last-child) {
      margin-bottom: rem(30px);
    }

    &:not(:first-child) {
      margin-top: rem(30px);
    }
  }

  .c-headline--richtext + p {
    margin-top: rem(-30px);
  }

  a {
    color: inherit;
    transition: all $transition-time-default;

    &:hover,
    &:focus {
      color: $color-content-ci;
    }
  }

  em {
    @include font-ci;
    color: $color-content-ci;
    font-style: italic;
  }

  ul {
    li {
      display: flex;

      &::before {
        content: '–';
        margin-right: .5em;
      }
    }
  }

  .c-headline {
    color: $color-content-ci;
  }
}

.c-richtext--inverted {
  &,
  strong,
  .c-headline,
  em,
  a:hover,
  a:focus {
    color: $color-white;
  }

  a:hover,
  a:focus {
    opacity: .5;
  }
}

.c-richtext--lg {
  @include typi(lg);
}


.c-richtext--sm {
  @include typi(sm);
}

.c-richtext--multicol {
  @include mappy-bp(md) {
    columns: 2;
    column-gap: $grid-gutter;
  }
}
