//
// Street view tour
// --------------------------------------------------

.c-tour__iframe {
  width: 100%;
  height: rem(400px);

  @include mappy-bp(sm) {
    height: rem(600px);
  }

  @include mappy-bp(md) {
    height: rem(800px);
  }
}
