{{ with .Resources.GetMatch "history*.md" }}
  <div class="c-history">
    <div class="c-history__masonry o-grid" data-masonry-grid>
      {{/* masonry columns */}}
      <div class="c-history__masonry-col o-grid__col" data-masonry-col>
        {{/* masonry items */}}
        {{ range .Params.events }}
          <div class="c-history__event" data-masonry-item data-reveal>
            {{if .image}}
              {{/* Image */}}
              <div class="c-history__img-wrapper{{with .imagePos}} c-history__img-wrapper--image-{{.}}{{end}}">
                {{ with $.Resources.GetMatch .image }}
                  {{ $imageSmall := .Resize "500x" }}
                  {{ $imageMedium := .Resize "800x" }}

                  <img
                    alt=""
                    src="{{ $imageSmall.RelPermalink }}"
                    srcset="{{ $imageSmall.RelPermalink }} 500w, {{ $imageMedium.RelPermalink }} 800w"
                    class="c-history__img" />
                {{ end }}
              </div>

            {{else}}

              {{/* Date */}}
              <time class="c-history__date">
                {{.date | markdownify}}
              </time>

              {{/* Separator */}}
              <div class="c-history__separator">
                {{ partial "components/separator" (dict "single" true) }}
              </div>

              {{/* Text */}}
              <div class="c-history__text c-richtext">
                {{.text | markdownify}}
              </div>
            {{end}}
          </div>
        {{end}}
      </div>
      <div class="c-history__masonry-col o-grid__col" data-masonry-col></div>
    </div>
  </div>
{{end}}
