{{ with .Resources.GetMatch "sources*.md" }}
  <div class="c-sources">
    <div class="o-main__section o-main__section--dark-flowers-left">
      <div class="o-container">
        <h2 class="c-headline c-headline--with-spacing">{{ .Title }}</h2>

        <div class="c-sources__list">
          {{ range .Params.sources }}
            <div class="c-sources__source" data-reveal>
              <div class="c-richtext">
                <strong class="c-sources__source-title">{{.title}}</strong>
                <p class="c-sources__source-address">{{.address | markdownify}}</p>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
