{{ define "main" }}
  {{/* Get headless home bundle which holds the content */}}
  {{ with .Site.GetPage "page" "home" }}
    {{ partial "components/slider" . }}

    <div class="o-main__content" id="content">
      {{/* slider count */}}
      {{ partial "sections/home/slidercount.html" . }}

      {{/* Top & teaser section */}}
      <section class="o-main__section o-main__section--top o-main__section--white-flowers-left">

        {{/* scroll hint */}}
        {{ partial "components/scrollhint.html" . }}

        <div class="o-container">
          {{ partial "components/teasers.html" . }}
        </div>
      </section>

      {{/* Social wall section */}}
      <section class="o-main__section">
        <div class="o-container">
          {{ partial "sections/home/socialwall.html" . }}
        </div>
      </section>
    </div>
  {{ end }}
{{ end }}

