//
// Archive
// --------------------------------------------------

.c-archive__filetype {
  text-transform: uppercase;
  opacity: .5;
}

.c-archive__year-select {
  @include font-ci;
  @include typi(richtext);

  display: flex;
  flex-direction: column;

  border-left: 1px dashed rgba($color-white, .5);
  padding-left: rem(24px);
}

.c-archive__year-opener {
  display: inline-flex;
  align-items: center;

  color: inherit;
  opacity: .5;
  transition: opacity $transition-time-default;

  & + & {
    margin-top: rem(16px);
  }

  svg {
    margin-right: rem(24px);
    width: rem(32px);
    height: rem(8px);

    opacity: 0;
    transition: opacity $transition-time-default;
  }

  &.is-open,
  &:hover,
  &:focus {
    opacity: 1;

    svg {
      opacity: 1;
    }
  }
}

.c-archive__linklist {
  display: none;

  &.is-open {
    display: block;
  }
}
