//
// Button
// --------------------------------------------------

.c-button {
  @include button-reset;

  @include typi('button');
  background-color: $color-content-ci;
  color: $color-white;
  padding: rem(24px);
  transition: background-color $transition-time-default;

  display: inline-flex;
  align-items: center;

  svg {
    flex-shrink: 0;
    margin-left: rem(24px);
    width: rem(32px);
    height: rem(8px);
  }
}

.c-button--secondary {
  background-color: $color-white;
  color: $color-content-ci;
}

.c-button--lg {
  @include typi('button-lg');
}


.c-button--xs-xs {
  @include typi('button-xs-xs');

  @include mappy-bp(max sm) {
    padding: rem(14px);

    svg {
      margin-left: rem(14px);
    }
  }
}

.c-button--icon-only {
  svg {
    margin-left: 0;
  }
}
