//
// Cookie Consent
// --------------------------------------------------

@import 'cookieconsent/build/cookieconsent.min.css';

.cc-window {
  font-family: inherit;
  @include typi('base');
  @include font-smoothing;
  box-shadow: 0 0 rem(30px) rgba(0, 0, 0, .1);
}

.cc-link {
  display: block;
  margin-top: .5em;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
}

.cc-btn {
  @include typi('button');
  transition: all $transition-time-default;
  padding: rem(24px);
  border: 0 none;

  &:hover,
  &:focus {
    opacity: .95;
  }
}
