//
// Footer
// --------------------------------------------------

$bp-collapse-map: lg;
$footer-image-height: 70%;
$footer-offset: 180px;
$footer-offset-md: 240px;

.c-footer {
  position: relative;
  z-index: index($z-index, footer);

  padding-top: rem($footer-offset);

  @include mappy-bp(md) {
    padding-top: rem($footer-offset-md);
  }
}

// BG Image
.c-footer__img-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 100% - $footer-image-height;
  right: 0;
  overflow: hidden;
  background-color: $color-content-ci;
}

.c-footer__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all $transition-time-long;

  &.lazyload,
  &.lazyloading {
    opacity: 0;
  }
}

// Content
.c-footer__content {
  position: relative;
  z-index: 10; // > bg
  background-image: linear-gradient(180deg, rgba($color-content-ci, .85) 0%, $color-content-ci $footer-image-height);
  background-size: 100% calc(100% + #{rem($footer-offset)});
  background-position: left bottom;
  color: $color-white;

  @include mappy-bp(md) {
    background-size: 100% calc(100% + #{rem($footer-offset-md)});
  }
}

.c-footer__text {
  @include mappy-bp($bp-collapse-map) {
    width: 50%;
  }

  .c-richtext {
    a {
      border-bottom: 0 none;
    }
  }
}

.c-footer__text-cols {
  padding-top: rem(60px);
  padding-bottom: rem(60px);

  @include mappy-bp(sm) {
    display: flex;
  }

  @include mappy-bp(md) {
    padding-top: rem(80px);
    padding-bottom: rem(80px);
  }
}

.c-footer__text-col {
  & + & {
    margin-top: rem(60px);

    @include mappy-bp(sm) {
      margin-top: 0;
      margin-left: rem(80px);
    }

    @include mappy-bp(md) {
      margin-left: rem(120px);
    }
  }
}

.c-footer__map {
  margin-left: rem($container-gutter);
  background-color: $color-brown-lightest;
  height: rem(350px);

  @include mappy-bp($bp-collapse-map) {
    margin-left: 0;
    position: absolute;
    top: rem(-$bottom-offset-default);
    right: 0;
    width: 50%;

    height: rem(440px);
  }

  #footer-map {
    height: 100%;
    width: 100%;
  }
}

.c-footer__map-placeholder {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  a {
    color: $color-gray-6;
    transition: color $transition-time-default;

    &:hover,
    &:focus {
      color: $color-content-ci;
    }
  }
}

.c-footer__meta {
  padding-top: rem(60px);
  padding-bottom: rem(60px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mappy-bp(md) {
    padding-bottom: rem(80px);
  }

  .c-footer--plain & {
    padding-top: rem(90px);

    @include mappy-bp(md) {
      padding-top: rem(180px);
    }
  }
}
