//
// Linkbox
// --------------------------------------------------

$linkbox-img-size: 200px;
$linkbox-content-overlap: 20px;
$bp-linkbox-collapse: md;

.c-linkbox {
  color: inherit;
  display: flex;
  flex-direction: column;

  position: relative;

  @include mappy-bp($bp-linkbox-collapse) {
    flex-direction: row;
    align-items: center;
  }
}

// Image
.c-linkbox__img-wrapper {
  flex-shrink: 0;
  height: rem($linkbox-img-size);
  width: rem($linkbox-img-size);
  background-color: $color-brown-lightest;

  // icon
  svg {
    width: 100%;
    height: 100%;
  }
}

// actual image
.c-linkbox__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all $transition-time-long;
  opacity: .1;
  filter: saturate(0);

  &.lazyload,
  &.lazyloading {
    opacity: 0;
  }
}

// Content
.c-linkbox__content {
  position: absolute;
  z-index: 10; // > image
  bottom: rem(-$linkbox-content-overlap);
  left: rem(30px);

  @include mappy-bp($bp-linkbox-collapse) {
    position: relative;
    bottom: auto;
    left: rem(-30px);
  }
}

.c-linkbox__headline {
  display: block;
  @include font-ci;
  font-weight: $font-weight-regular;
  @include typi('lg');
  font-style: italic;

  transition: all $transition-time-medium;

  .c-linkbox:hover &,
  .c-linkbox:focus & {
    transform: translateX(rem(-5px));
  }
}

.c-linkbox__button {
  transition: all $transition-time-medium;

  .c-linkbox:hover &,
  .c-linkbox:focus & {
    transform: translateX(rem(5px));
  }

  .c-linkbox__headline + & {
    margin-top: rem(15px);
  }
}
