//
// Linklist
// --------------------------------------------------

// Image
.c-links__img-wrapper {
  background-color: $color-content-ci;
}

.c-links__img {
  display: block;
  width: 100%;
  height: auto;
  transition: all $transition-time-long;

  &.lazyload,
  &.lazyloading {
    opacity: 0;
  }
}

.c-links__headline {
  margin-bottom: rem(20px);
}


// Linklist component
.c-linklist {
  @include typi(richtext);
}

.c-linklist--lg {
  @include typi(lg);
}

.c-linklist__item {
  border-bottom: 1px dashed rgba($color-gray-6, .5);
  padding: 0 rem(20px);

  & + & {
    margin-top: rem(20px);
  }

  .c-linklist--inverted & {
    border-bottom-color: rgba($color-white, .5);
  }
}

.c-linklist__link,
.c-linklist__plaintext {
  display: inline-block;
  color: $color-gray-6;
  padding-top: rem(10px);
  padding-bottom: rem(10px);

  .c-linklist--inverted & {
    color: $color-white;
  }
}

.c-linklist__link {
  transition: all $transition-time-default;

  &:hover,
  &:focus {
    color: $color-content-ci;
  }

  .c-linklist--inverted & {
    &:hover,
    &:focus {
      color: $color-white;
      opacity: .5;
    }
  }
}
