//
// Container
// --------------------------------------------------

.o-container {
  padding-left: rem($container-gutter);
  padding-right: rem($container-gutter);
  margin-left: auto;
  margin-right: auto;
  max-width: rem($container-width-default);
}

.o-container--medium {
  max-width: rem($container-width-medium);
}

.o-container--narrow {
  max-width: rem($container-width-narrow);
}
