//
// Grid (2-col)
// --------------------------------------------------

$bp-grid-collapse: sm;

.o-grid {
  @include mappy-bp($bp-grid-collapse) {
    display: flex;
    flex-wrap: wrap;
  }
}

.o-grid__col {
  @include mappy-bp(max $bp-grid-collapse) {
    &:not(:first-of-type) {
      padding-top: rem(80px);
    }
  }

  @include mappy-bp($bp-grid-collapse) {
    width: 50%;
    padding-top: rem($grid-gutter);

    &:nth-child(1),
    &:nth-child(2) {
      padding-top: 0;
    }

    &:nth-child(2n + 1) {
      padding-right: rem($grid-gutter / 2);
    }

    &:nth-child(2n + 2) {
      padding-left: rem($grid-gutter / 2);
    }
  }
}

