//
// Layout
// --------------------------------------------------

.o-main__content {
  position: relative;
  z-index: index($z-index, content);

  // default: top-spacing to match fixed topbar
  margin-top: $topbar-alpha-height;

  @include mappy-bp(max $bp-menu-collapse) {
    margin-top: $topbar-alpha-height + $topbar-beta-height;
  }
}

// top-spacing to match fixed hero
.c-hero + .o-main__content {
  margin-top: 100vh;
}

// scroll hint
.o-main__scroll-hint {
  position: absolute;
  left: 0;
  right: 0;
  top: rem(16px);

  @include mappy-bp(md) {
    top: rem(40px);
  }
}

// default section
.o-main__section {
  background-color: $color-white;
  padding-top: rem(100px);
  padding-bottom: rem(100px);

  @include mappy-bp(md) {
    padding-top: rem(160px);
    padding-bottom: rem(160px);
  }
}

// default top section
.o-main__section--top {
  background-color: $color-brown-lightest;
  background-image: url('/images/layout/muster-links.png');
  background-repeat: no-repeat;
  background-position: left top;

  @include mappy-bp(md) {
    padding-top: rem(240px);
  }
}

// default section
.o-main__section--bg-lightest {
  background-color: $color-brown-lightest;
}
