{{ with .Resources.GetMatch "reviews*.md" }}
  <div class="c-reviews">
    <div class="o-grid">
      <div class="o-grid__col">
        <div class="c-headline">{{.Params.title}}</div>
      </div>
      <div class="o-grid__col">
        <div class="c-reviews__list">
          <a target="_blank" href="{{.Params.holidaycheckURL}}" class="c-reviews__item" >
            {{ partial "components/svg" (dict "svg" "holidaycheck") }}
            <span class="u-invisible">HolidayCheck</span>
          </a>

          <a target="_blank" href="{{.Params.bookingURL}}" class="c-reviews__item" >
            {{ partial "components/svg" (dict "svg" "booking") }}
            <span class="u-invisible">Booking.com</span>
          </a>

          <a target="_blank" href="{{.Params.trivagoURL}}" class="c-reviews__item" >
            {{ partial "components/svg" (dict "svg" "trivago") }}
            <span class="u-invisible">trivago</span>
          </a>
        </div>
      </div>
    </div>
  </div>
{{end}}
